/*---------------------------------------------------------------------
	* @site   Cooldev.xyz
	* @autors cooldev crew
	* @media responsive
	* @version 4.0
	* @lastmodified Fev, 9 2018
	
	-------------------------------------------------------------------*/
	
	/*------------------------------------------------------------------
					[Table of contents]
					
					1. COLORS
					2. FONTS
					3. HELPERS
					4. GENERAL
					5. TYPO generic
					6. HEADER
					7. NAV
					8. SECTIONS / PAGES
					9. SECTION 1
					10. SECTION 2
					11. SECTION 3
					. CONTACT
					. FOOTER
					. MEDIA QUERIES
-------------------------------------------------------------------*/
	
	
	
/*

	 ***********************  
    
    ***   1. Colors     ***
    
    ***********************
    
    
			couleur rose : #ffbbdbff
			couleur bleu :#bde1deff
			jaune :#FEE69D
			couleur textes grey : #424242
			
*/
/* 
	***********************
	
	**      2.FONTS    **
	
	***********************


    font-family: 'Roboto', sans-serif;

    font-family: 'Comfortaa', cursive;
	*/
/* 
	***********************
	
	**      3.HELPERS    **
	
	***********************
	*/

/* Helpers material-icons*/

.material-icons.md-18 { font-size: 18px; }

.material-icons.md-24 { font-size: 24px; }

.material-icons.md-36 { font-size: 36px; }

.material-icons.md-48 { font-size: 48px; }

.material-icons.md-60 { font-size: 60px; }

.no-padding-top {
	padding-top: 0!important;
}
.no-padding-bottom {
	padding-bottom: 0!important;
}
.no-margin-top {
	margin-top:0!important;
}
.no-margin-bottom {
	margin-bottom: 0!important;
}
.padding-top {
	padding-top: 30px!important;
}
.padding-bottom {
	padding-bottom: 30px!important;
}
.margin {
	margin: 40px 40px 40px 40px;
}
.padding {
	padding: 20px 20px 20px 20px;
}	
.padding-top-l {
	padding-top: 100px!important;
}
.padding-bottom-l {
	padding-bottom: 100px!important;
}
/* 
	***********************
	
	**     4.GENERAL     **
	
	***********************
	*/
	
html {
	color: #424242;
}

/* 
	***********************
	
	**      5. TYPO      **
	
	***********************
	*/
h1{
  font-size: 1.5rem;
  font-family: 'Comfortaa', cursive;
/**  font-weight: 900;**/
}
h2 {
  font-size: 3rem;
  font-family: 'Comfortaa', cursive;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 3rem;
}
p {
	font-family: 'Comfortaa', cursive;
	font-size: 1rem;
}

.median-dot {
	font-weight: 900;
	vertical-align: middle;
}
/* 
	***********************
	
	**     6.HEADER     **
	
	***********************
	*/
	
header {

  position: relative;
  display: flex;
  height: 100vh;
  background-color: #897a75;
  background-image: url(../assets/img/fond-header.svg), url(../assets/img/background.svg);
  background-position: bottom center, top center;
  background-size: 100%, cover;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, fixed;
  overflow: hidden;
}

.header-page {

  position: relative;
  display: flex;
  height: 100px;
  background-color: #897a75;
  background-image:  url(../assets/img/background.svg);
  background-position:  top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  

}
.logo-page {
	width: 70px;
	padding-top: 20px;
}
#logo img {
	width:150px;
}

.header-content h1 {
  font-size: 1.3rem;
  font-family: 'Comfortaa', cursive;
}
.header-content {
  margin: auto;
  margin-top: 15%;
  z-index: 2;
}


.social a {
	padding: 5px;
}
.social img {
 max-width: 30px;
} 




/* 
	***********************
	
	**      7.NAV    **
	
	***********************
	*/
.fixed-action-btn {
	top: 10px;
  }

.fixed-action-btn ul {
	top: 90px;
  }
  .fixed-action-btn img {
	padding-top: 8px;  
  }
#phone {
	opacity: 0;
	position: fixed;
	top:140px;
	right: 90px;
}
#phone-btn:hover #phone {
		opacity: 1;
		
}

/* 
	***********************
	
	**     8.SECTIONS    **
	
	***********************
	*/
	
#valeurs, #process, #works, #conversation, #us, #contact {
padding-top: 50px;
padding-bottom: 50px;
}

#section4 {
	height:100vh;
	background-image: url(../assets/img/donuts-fond.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
		background-attachment: fixed;
}

.donut div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.donuts {
	height: 20%;
	background-image: url(../assets/img/fond-donuts.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;

	display: flex;
	align-items: center;
	justify-content: center;

}

.donuts div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/* 
	***********************
	
	**    9.SECTIONS VALEURS   **
	
	***********************
	*/
	

/* 
	***********************
	yellow
	**   10.SECTION PROCESS   **
	
	***********************
	*/
	#process {
		background-color: #bde1de;
	}

	#process ol {
		list-style:none;
		padding-left: 0;
	}

	.process-img {
		margin: 0 auto;
		background-repeat: no-repeat;
		width: 200px;
		height: 200px;
		margin:0 auto;

	}

	#process1 {
		background-image: url('../assets/img/timeline-sprite.png');
		background-position: 0 0;
	}

	#process2 {
		background-image: url('../assets/img/timeline-sprite.png');
		background-position: -200px 0;
	}

	#process3 {
		background-image: url('../assets/img/timeline-sprite.png');
		background-position: -400px 0;
	}

	#process4 {
		background-image: url('../assets/img/timeline-sprite.png');
		background-position: -600px 0;
	}

	#process5 {
		background-image: url('../assets/img/timeline-sprite.png');
		background-position: -800px 0;
	}

	#process6 {
		background-image: url('../assets/img/timeline-sprite.png');
		background-position: -1000px 0;
	}

	/* 
	***********************
	
	**    11.SECTION WORKS   **
	
	***********************
	*/
#section3 {
	background-color: #ffbbdbff;
}

#section3.picto {
	display: flex;
	justify-content: center;
}

/* 
	***********************
	
	**    12.SECTION CONVERSATION   **
	
	***********************
	*/
#section4 {
	background-color: #bde1deff;
}
/* 
	*********************************
	
	**    13.SECTION CONVERSATION  **
	By https://codepen.io/samuelkraft
	
	*********************************
	*/

#conversation {
	max-width: 600px;
	margin: auto;
	padding: 20px;
	
}
.conversation {
	background-color:#efefef;
}
#conversation	div{
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
}
#conversation div:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
  clear: both;
}

.from-me {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px 25px 0px 25px;
  float: right;
}
.from-me:before {
  content: "";
  position: absolute;
 /* z-index: -1;*/
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-me:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -50px;
  width: 20px;
  height: 20px;
  background: #efefef;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.from-them {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px 25px 25px 0px;
  color: black;
  float: left;
}
.from-them:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-them:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: #efefef;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}


/* 
	***********************
	
	**    13.SECTION US   **
	
	***********************
	*/

#section5 img{
	width: 100%;
}
#section5 {
	background-color: #efefef;
}
/**
	
	*
	* FOOTER
	*
	*/
	
footer {
	background-color:white!important;
}
footer p {
	font-size: 1rem;
}

.social a {
	padding: 5px;
}

/* Test */
#pinContainer {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.panelTest {
	height: 100%;
	width: 100%;
	position: absolute;


}

.panelTest.one {
	background-color: #FEE69D;

}

.panelTest.two  {
	background-color: #ffbbdb;

}
.panelTest.three {
	background-color: #bde1de;
}
.panelTest.four {
	background-color: #FEE69D;
}
.panelTest h3 {
	font-size: 3rem;
}

.panelTest p {
	font-size: 2rem;
}

.divider-white {
	background-image: url(../assets/img/divider-white.svg);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	height: 150px;
	
}

/* 
	***********************
	
	**13.MEDIA QUERIES<3 **
	
	***********************
	*/

@media all and (min-width: 601px){
	header h1{
		font-size: 1rem!important;
	}
	#logo img {
	width:200px;
}
	header h2{
	font-size: 1.2rem;}
	#section1 p {
	font-size: 1rem;}
	#section-contact p {
	font-size: 1rem;	
	}

	#section1 h2 {
		font-size: 4rem;	
	}
	
}
@media all and (min-width: 801px){

   #contact div input, #contact div textarea {
    	font-size: 2rem;
    	}
  header h1{
		font-size: 1.2rem!important;
  		}
  	header h2{
	font-size: 2rem;}
	#section1 p {
	font-size: 2.5rem;}
	#section2 p {
	font-size: 2.5rem;}
	#section-contact p {
	font-size: 2.5rem;	
	}
	#section1 h2 {
		font-size: 4rem;	
	}
}

@media all and (min-width: 1200px){
	header h1{
		font-size: 1.7rem!important;
  	}
	#section1 h2 {
	font-size: 4.5rem;	
	}
	#section2 h3 {
	font-size: 4rem;	
	}
	#section1 p {
	font-size: 1.6rem;}
	#section2 p {
	font-size: 2rem;}
	#section-contact p {
	font-size: 3rem;	
	}
	.padding-top {
	padding-top: 70px!important;
	}
	.padding-bottom {
		padding-bottom: 70px!important;
	}
}

